.weatherBlock {
    margin: 10px 40px;
    background-color: rgb(217, 248, 223);
    border: 3px solid rgb(158, 228, 181);
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
}
.mainWeather{
    margin: auto 7px;
}
.weatherBlockInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.feels_like{
    font-size: 12px;
    color: rgba(2, 1, 1, 0.616);
}
.weatherDescription{
    text-transform: capitalize;
}
